* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    background-color: #fcf2e4;
}

h1 {
    padding: 0px;
}

.navbar {
    background-color: #b276c1;
    height: 150px;
    font-family: Ink Free;
    width: 100%;
}

.navbar-nav {
    list-style: none !important;
}

.list-item {
   color: #fcf2e4;
   font-size: 25px;
   text-decoration: none;
   float: right;
   display: inline-block;
   padding: 15px;
   margin-top: 45px;
 }

.list-item:hover {
  color: black;
  text-decoration: none;
}


.navbar-brand {
    color: #fcf2e4;
    font-size: 75px;
    text-decoration: none;
    margin-left: 120px;
    margin-top: 30px;
    display: inline-block;
    position: absolute;
}

.navbar-brand:hover {
    color: black;
}

.navbar-header {
    float: left;
    margin-top: 35px;
}

.logo-image {
    margin-left: 20px;
    margin-top: 30px !important;
    position: absolute;
}



.home-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    padding: 25px;
}

.intro {
    display: block;
    text-align: center;
    font-size: 25px;
    font-family: Ink Free;
    color: #b276c1;
}