* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    background-color: #fcf2e4;
}



.navbar {
    background-color: #b276c1;
    height: 150px;
    font-family: Ink Free;
    width: 100%;
}

.navbar-nav {
    list-style: none !important;
}

.list-item {
   color: #fcf2e4;
   font-size: 25px;
   text-decoration: none;
   float: right;
   display: inline-block;
   padding: 15px;
   margin-top: 45px;
 }

.list-item:hover {
  color: black;
  text-decoration: none;
}


.title-header {
    color: #fcf2e4;
    font-size: 75px;
    text-decoration: none;
    margin-left: 120px;
    margin-top: 30px;
    display: inline-block;
    position: absolute;
}

.navbar-header {
    float: left;
    margin-top: 35px;
}

.logo-image {
    margin-left: 20px;
    margin-top: 30px !important;
    position: absolute;
    width: 90px !important;
    height: 80px !important;
}



.home-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    padding: 25px;
}

.intro {
    display: block;
    text-align: center;
    font-size: 25px;
    font-family: Ink Free;
    color: #b276c1;
}



.slideshow{
    width: 950px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: -1px 5px 15px black;
}

/*Area of images*/
.wrapper{
    width: 100%;
    display: flex;
    animation: slide 20s infinite;
}

img{
    width: 100%;
}
/*Animation activated by keyframes*/
@keyframes slide{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-200%);
    }
    80%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-300%);
    }
}