<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container body-content">

<h1 th:text="${title}">SAVED FAVORITE PETS PAGE!</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${favorite} and ${favorites.size()}">no favorite </p>


<table class="table">

    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Color</th>
        <th>Breed</th>
        <th>Location</th>
    </tr>

    <tr th:each="favorite : ${favorites}">
        <td th:text="${favorite.name}"></td>
        <td th:text="${favorite.age}"></td>
        <td th:text="${favorite.color}"></td>
        <td th:text="${favorite.breed}"></td>
        <td th:text="${favorite.location}"></td>
        <td><a th:href="@{'/favorite/edit/' + ${favorite.id}}">edit</a></td>
    </tr>

</table>

<nav>
    <a href="/favorite/add">Add</a> |
    <a href="/favorite/delete">Remove</a>
</nav>

</body>
</html>