<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">

    <!-- Bootstrap stylesheets and script -->
    <link th:href="@{/css/petapp.css}" rel="stylesheet" />

    <title th:text="'Find-A-Friend' + ${title == null ? '' : ' :: ' + title}">Find-A-Friend</title>
</head>

<body>

<nav th:fragment="page-header" class="navbar">
            <img th:src="@{/images/paw.png}" class="logo-image" width="90" height="80" alt="">
            <a th:href="@{/}" class="title-header">Find-A-Friend</a>
            <ul class="navbar-nav">
                <li><a th:href="@{/login-register}" class="list-item">Login/Register</a></li>
                <li><a th:href="@{/favorites}" class="list-item">Saved Pets</a></li>
                <li><a th:href="@{/search}" class="list-item">Search</a></li>
            </ul>
</nav>

</body>
</html>