<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head">

</head>

<body>

    <div th:replace="fragments :: page-header"></div>

    <div class="container">
        <div class="slideshow">
            <div class="wrapper">
                <img th:src="@{/images/zelenia2.jpg}" class="ssimage">
                <img th:src="@{/images/dexter.JPG}" class="ssimage">
                <img th:src="@{/images/creamina.jpg}" class="ssimage">
                <img th:src="@{/images/spooky.JPG}" class="ssimage">
            </div>
        </div>
    </div>
    <div class="container">
        <strong><!--Intro/site description here.....--></strong>
    </div>

</body>
</html>