<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>

    <div th:replace="fragments :: page-header"></div>
    <div class="slideshow">
        <div class="wrapper">
            <img th:src="@{/images/zelenia2.jpg}">
            <img th:src="@{/images/spooky.jpg}">
            <img th:src="@{/images/ham2.jpg}">
            <img th:src="@{/images/birds.jpg}">
        </div>
    </div>
    <div class="intro">
        <strong>Words will go here.....</strong>
    </div>

</body>
</html>