<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title>Pet's</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script th:src="@{/script.js}"></script>
</head>

<body>

<nav>
    <div class="logo">
        <h1><a>Pet's</a></h1>
    </div>
    <div class="nav__container">

        <ul class="nav__menu">
            <li><a href="home">Home </a></li>
            <li><a href="favorites">Favorite</a></li>
        </ul>

        <div class="search__bar">
            <input type="text" placeholder="Search..">
            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>

        <div class="sign__in">
            <a href="signing"><i class="fa-solid fa-arrow-right-to-bracket"></i>Sign In</a>
        </div>
    </div>

    <div class="button">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>


</nav>

</body>

<html/>