<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>

<div th:replace="fragments :: page-header"></div>

<div class="container" style="position: fixed; margin-left: 75px">
    <img th:src="@{/images/babyz.jpg}" class="details-image" alt="">
</div>

<div class="container" style="position: fixed; margin-left: 1000px;">
    <div class="petDetails">
        <p class="traitName">Name: </p>
        <p class="traitName">Age: </p>
        <p class="traitName">Sex: </p>
        <p class="traitName">S/N: </p>
        <p class="traitName">Breed: </p>
        <br>
        <p class="traitName">Organization: </p>
        <p class="traitName">Contact Email: </p>
        <p class="traitName">Location: </p>
    </div>
</div>

<div class="container" style="position: fixed; margin-left: 1100px;">
    <div class="mapsAPI">
        <br>
        <br>
        <br>
        <br>
        <br>
        <strong style="">Google Maps Here!</strong>
    </div>
</div>

</body>
</html>